{% extends "base_staff.html" %}
{% block title %}Requests{% endblock %}
{% block nav_staff_requests_home %}active{% endblock %}

{% block extra_css %}
<style>
  :root{
    --tableHead:#cbb6a8;
    --cellBorder:#e6dfdb;
    --white:#fff;
    --shadow:0 10px 28px rgba(0,0,0,.10);
  }

  .table-wrap{
    margin-top:18px;
  }

  table{
    width:100%;
    border-collapse:collapse;
  }

  thead th{
    background:var(--tableHead);
    font-size:16px;
    font-weight:1000;
    text-align:center;
    padding:16px 10px;
    border:1px solid var(--cellBorder);
  }

  tbody td{
    background:var(--white);
    font-size:14px;
    font-weight:400;
    text-align:center;
    padding:16px 12px;
    border:1px solid var(--cellBorder);
    vertical-align:middle;
  }

  .status-pending{
    color:#d97706;
    font-weight:700;
  }

  .status-approved{
    color:#16a34a;
    font-weight:700;
  }

  .status-rejected{
    color:#dc2626;
    font-weight:700;
  }

  .empty-box{
    background:#fff;
    border-radius:18px;
    padding:40px 20px;
    text-align:center;
    font-size:24px;
    font-weight:900;
    box-shadow:var(--shadow);
    margin-top:20px;
  }
</style>
{% endblock %}

{% block content %}
<div class="table-wrap">
  {% if requests %}
  <table>
    <thead>
      <tr>
        <th>Type of Request</th>
        <th>Assigned Schedule</th>
        <th>Original Date</th>
        <th>Original Time</th>
        <th>Requested Change</th>
        <th>Reason</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      {% for r in requests %}
      <tr>
        <td>{{ r.request_type }}</td>

        <td>{{ r.assigned_schedule.title }}</td>

        <td>{{ r.assigned_schedule.date|date:"m/d/Y" }}</td>

        <td>
          {{ r.assigned_schedule.start_time|time:"g:i A" }}
          -
          {{ r.assigned_schedule.end_time|time:"g:i A" }}
        </td>

        <td>
          {% if r.request_type == "Overtime" %}
            {{ r.overtime_hours }} hour{% if r.overtime_hours != 1 %}s{% endif %} overtime
          {% elif r.request_type == "Schedule Change" %}
            New Time:
            {{ r.new_start_time|time:"g:i A" }}
            -
            {{ r.new_end_time|time:"g:i A" }}
          {% endif %}
        </td>

        <td>{{ r.reason }}</td>

        <td>
          {% if r.status == "Pending" %}
            <span class="status-pending">{{ r.status }}</span>
          {% elif r.status == "Approved" %}
            <span class="status-approved">{{ r.status }}</span>
          {% elif r.status == "Rejected" %}
            <span class="status-rejected">{{ r.status }}</span>
          {% else %}
            {{ r.status }}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% else %}
  <div class="empty-box">
    No requests submitted yet.
  </div>
  {% endif %}
</div>
{% endblock %}